<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Dxvn, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="page_block_html_topmenu_gethtml_before">
        <observer name="diepxuan_menu_observer_topmenu" instance="Diepxuan\Menu\Observer\Topmenu" />
    </event>
</config>
